Repository weso/shex-lite, pull requests merged in 2020-04, with the labels that each got.

#43 Thewilly add st tests
  build.sbt
  src/compiler/semantic/MemoryErrorHandler.scala
  src/compiler/semantic/MemorySymbolTable.scala
  src/compiler/semantic/SymbolTable.scala
  test/unit/compiler/MemorySymbolTableUnitTest.scala
Labels: affects: semantic-analyzer, affects: syntax-analyzer, status: wip, type: enhancement

#44 Update last changes from shex-lite 2.0 dev to master
  README.md
  build.sbt
  project/build.properties
  src/compiler/ast/ast.scala
  src/compiler/ast/constraints.scala
  src/compiler/ast/statements.scala
  src/compiler/codegen/.folder
  src/compiler/grammar/test.java
  src/compiler/semantic/ErrorHandler.scala
  src/compiler/semantic/MemoryErrorHandler.scala
  src/compiler/semantic/MemorySymbolTable.scala
  src/compiler/semantic/SymbolTable.scala
  src/compiler/syntactic/ShExLSyntacticParser.scala
  src/compiler/syntactic/generated/ShexlBaseListener.java
  src/compiler/syntactic/generated/ShexlBaseVisitor.java
  src/compiler/syntactic/generated/ShexlLexer.java
  src/compiler/syntactic/generated/ShexlListener.java
  src/compiler/syntactic/generated/ShexlParser.java
  src/compiler/syntactic/generated/ShexlVisitor.java
  test/assets/correct_prefix_definition_1.shexl
  test/assets/incorrect_prefix_definition_1.shexl
  test/assets/incorrect_prefix_definition_2.shexl
  test/assets/incorrect_prefix_definition_3.shexl
  test/benchmark/PrintWalkerTest.scala
  test/test-assets/test_1.shexl
  test/unit/compiler/MemorySymbolTableUnitTest.scala
  test/unit/compiler/PrefixDefinitionSyntaxTest.scala
Labels: affects: semantic-analyzer, affects: syntax-analyzer, status: merge-ready

#45 Add base declaration semantic validation
  src/compiler/semantic/IdentificationWalker.scala
  test/assets/correct_schema_using_base_1.shexl
  test/assets/incorrect_schema_using_base_redefinition_1.shexl
  test/unit/compiler/semantic/IdentificationWalkerTest.scala
Labels: affects: semantic-analyzer

#47 Fix build errors of issue #46
  .travis.yml
  build.sbt
  project/build.properties
  src/compiler/semantic/MemoryErrorHandler.scala
  src/compiler/syntactic/ShExLSyntacticParser.scala
  test/unit/compiler/MemorySymbolTableUnitTest.scala
  test/unit/compiler/semantic/IdentificationWalkerTest.scala
Labels: affects: repository

#49 add start declaration to the identification walker
  src/compiler/semantic/IdentificationWalker.scala
  test/assets/correct_schema_using_start_1.shexl
  test/assets/incorrect_schema_using_start_redefinition_1.shexl
  test/unit/compiler/semantic/IdentificationWalkerTest.scala
Labels: affects: semantic-analyzer, priority: medium, type: feature-request

#61 Add prefix declaration semantic validation and tests
  src/compiler/semantic/IdentificationWalker.scala
  test/assets/correct_schema_using_prefix_1.shexl
  test/assets/incorrect_schema_using_prefix_redefinition_1.shexl
  test/unit/compiler/semantic/IdentificationWalkerTest.scala
Labels: affects: semantic-analyzer, status: merge-ready

#62 Add semantic validation for the shape definition and tests
  src/compiler/semantic/IdentificationWalker.scala
  test/assets/correct_schema_using_shape_1.shexl
  test/assets/incorrect_schema_using_shape_redefinition_1.shexl
  test/unit/compiler/semantic/IdentificationWalkerTest.scala
Labels: affects: semantic-analyzer, priority: medium

#92 [SLP-0092] Rename COPYRIGHT file to LICENSE
  LICENSE
  README.md
Labels: affects/repository, status/merge-ready

#93 [SLP-0093] Add license general collision statement
  LICENSE
Labels: affects/repository, status/merge-ready

#111 [SLP-0111] Remove ShExLCompileResult
  src/lib/es/weso/shexl/impl/ShExLCompileResult.scala
Labels: status/merge-ready

#112 [SLP-0112] Change error / warning messages format
  src/compiler/es/weso/shexlc/internal/io/impl/CompilerMsgErrorType.scala
  src/compiler/es/weso/shexlc/internal/io/impl/CompilerMsgWarningType.scala
Labels: status/merge-ready
